html
body
  padding 0
  margin 0
  font-family 'Helvetica Neue', arial, helvetica, sans-serif
  font-size 14px
  background #fafafa
  height 100%
  color #110013
  font-weight 300
  line-height 1.4

h1
h2
h3
h4
h5
h6
  font-family 'Helvetica Neue', arial, helvetica, sans-serif
  text-rendering optimizelegibility
  font-weight normal

input[type=submit]
  cursor pointer

h1 
  font-size 2.4rem
  font-weight 300

a
  cursor pointer
  color $bg1

ul
li
  list-style-type none
  margin 0
  padding 0

a.logo
  color #fff
  padding 10px
  font-family 'Lato', arial, helvetica, sans-serif
  font-size 1.6em
  display inline-block
  text-decoration none
  font-weight 400

a.sign_in_twitter
  display inline-block
  padding 5px 10px
  background #3596FF
  color #fff
  border-radius 3px
  text-decoration none

img.avatar
  margin-right 10px
  vertical-align middle
  &.normal
    width 48px
    height 48px
    border-radius 25px
  &.small
    width 24px
    height 24px
    border-radius 15px

#head_login
  z-index 1
  position absolute
  top 10px 
  right 10px
  a
    text-decoration none
    display inline-block
    margin-left 10px
    padding-left 10px
    border-left 1px solid #e5e5e5
    &:nth-child(1)
      border 0

footer
  text-align center
  color #aaa
  padding 10px
  a
    color $bg2
    text-decoration none
  p 
    display inline-block
    margin-left 10px
    border-left 1px solid #ddd
    padding-left 10px
    &:nth-child(1)
      border 0
      padding 0
      margin 0