#homepage 

  h1
    padding-bottom 1.5em

  #head
    background $bg1
    padding 3% 0
    text-align center

  #intro
    background $bg1
    text-align center
    height 60%

    h1
      padding 1.5em 0
      color #f1f1f1
      font-size 3em
      font-weight 300
      font-family 'Lato'

    input[type=text]
      border 0
      font-size 16pt
      padding 10px 10px
      margin-right 10px
      border-radius 5px

    input[type=submit]
      background darken($bg1, 30%)
      border-radius 5px
      border 0
      color #fff
      font-size 14pt
      padding 12px 20px
      &:hover
        background darken($bg1, 40%)

  #description
    padding 10px
    color #999
    text-align center