#room
  background #fafafa
  overflow hidden
  width 100%
  min-width 1000px

  h1 
    color #C7D2DF

  a.chantbox
    color #724a6e
    text-decoration none


  #sidebar
    width 300px
    background $bg2
    color #fff
    position absolute
    left 0
    top 0
    height 100%

    .onroom
      background #7200FF
      padding 5px 0 5px 10px
      font-weight 300
      font-size 1.2em
      font-family 'Lato'

    ul li
      padding 10px
      overflow hidden
      img
        float left
      .name
        color #fff
        padding-left 20px
        padding-top 2px
        display block
      .joined
        display block
        font-size 12px
        color #aaa

    li 
      border-bottom 1px solid lighten($bg2, 15%)

    .room_type
      padding 10px
      font-size 0.9em
      &.room_type_anonymous 
        background #D59727
      &.room_type_fixed
        background #53B653


  #chatter
    position absolute
    left 310px
    ul
    li
      list-style-type none
      margin 0
    li
      border-top 1px solid #fff
      padding 5px 0
      overflow hidden
    li.system .content
      color #aaa

    li.user
      img.avatar
        float left

    ul
      overflow-y auto
      height 80%

    time
      display block
      color #aaa
      font-size 12px

    h2
      color #ccc

  #notification
    background #FFBD44
    border 1px solid darken(#FFBD44, 10%)
    padding 5px 10px
    position absolute
    top 10px
    left 33%
    width 33%
    text-align center
    opacity 1
    transition all 1000ms linear
    &.hidden
      top -40px

  #input
    position absolute
    bottom 0
    left 300px
    background #eee
    height 20px
    font-size 12px
    padding 10px
    display block
    width 100%
    border 0
