#head
  .container
    a.logo(href=pathTo.root()) chantbox.io

section#intro
  .container
    div effortlessly chat & chant with friends and colleagues
    form(onsubmit="location.href='/'+this.room.value; return false")
      input(type="text", name="room", value=randomHash())
      input(type="submit", value="JOIN")

footer
  p created for funs by 
    a(href='http://twitter.com/sagish') @sagish
  p contribute 
