#head_login
  if (user)
    a.sign_in_twitter(href='/auth/logout') !{avatar(user, 'small')} logout
  if (!user)
    - var twitter = '/auth/twitter' + (room ? '?room='+room : '')
    a.sign_in_twitter(href=twitter) Login with Twitter

#head
  img(src='/images/1393359638_maneki.png', style="display: block; margin: auto")
  a.logo(href=pathTo.root()) chantbox.io


section#intro
  .container
    h1 effortlessly chat & chant with friends and colleagues
    form(onsubmit="location.href='/r/'+this.room.value; return false")
      | chantbox.io/r/
      input(type="text", name="room", value=randomHash())
      input(type="submit", value="JOIN")

  #info
    p Random room are anonymous and private, no history is saved
    p <a href='/auth/twitter'>Sign-in</a> using twitter to fixate room and gain chat history
    p Feedback and comments are welcome on <a href="/r/chantbox">#chantbox</a>

footer
  p created for funs by 
    a(href='http://twitter.com/sagish') @sagish
  form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
    input(type="hidden", name="cmd", value="_s-xclick")
    input(type="hidden", name="hosted_button_id" value="STAMUCZQSEUW2")
    input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
    img(alt="", border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
