doctype html
html
  head
    title= title
    != stylesheetLinkTag('bootstrap', 'application', 'bootstrap-responsive')
    != javascriptIncludeTag('https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js', 'application')
    != stylesheetLinkTag('http://fonts.googleapis.com/css?family=Varela+Round')
  body
    != body
